<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJF_sndIbBGEtmQlRYlXSWQ6DPPkj-sPM</string>
	<key>GCM_SENDER_ID</key>
	<string>521627758022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vichaar</string>
	<key>PROJECT_ID</key>
	<string>vichaar-31878</string>
	<key>STORAGE_BUCKET</key>
	<string>vichaar-31878.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521627758022:ios:d7dc65915878f4a1b596c7</string>
</dict>
</plist>